/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    font-family: 'Open Sans';
}

/*TYPOGRAPHY*/
#bold{
    font-weight: bold;
}
#title-col{
    font-size: 25px;
}

/*BUTTONS*/
.btn-blue{
    padding: 8px 14px;
    background-color: rgb(45, 131, 243);
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn-blue-large{
    padding: 15px 30px;
    background-color: rgb(45, 131, 243);
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn-white{
    padding: 10px 16px;
    background-color: #fff;
    cursor: pointer;
}
.btn-white-n{
    padding: 8px 18px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

/*COL-33*/
#time{
    color: rgb(137, 135, 135);
}
.col-33-info{
    padding: 30px 0 0 20px;
}
.col-33-info h3{
    padding-bottom: 20px;
}
.col-33-info p{
    padding-bottom: 10px;
}
.col-33-info ul{
    padding: 30px 0;
}
.col-33-info li{
    padding-bottom: 15px;
    list-style: none;
}
.col-33-info button{
    margin-bottom:  25px;
    width: calc(100% - 20px);
}
#also{
    padding-bottom: 40px;
}
.col-33-info hr{
    width: 25%;
}
.col-33-info h4{
    padding-top: 40px;
}
.col-33-info li #check{
    color: rgb(45, 131, 243);
}

/*COLUMNS*/
.col-30{
    width: 30%;
}
.col-33{
    width: calc(100%/3);
    border: 2px solid rgb(208, 207, 207);
    min-height: 900px;
}
.col-33-2{
    width: calc(100%/3);
}
.col-40{
    width: 40%;
    padding: 50px 70px 0px 30px;
}
.col-60{
    width: 60%;
}
.col-70{
    width: 70%;
}
.col-100{
    width: 100%;
    border: 2px solid rgb(208, 207, 207);
    padding: 20px;
}

/*HEADER*/
.header-container{
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: rgba(0,0,0,0.3) 0 0 2px 0;
    z-index: 999;
}
.header-left{
    display: flex;
}
.logo-header{
    height: 20px;
}
li{
    display: inline-block;
    padding: 0 20px;
}

/*HERO*/
.hero-container{
    background-color: rgb(184, 216, 249);
}
.hero-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.hero-section h1{
    font-size: 45px;
    font-weight: 800;
    padding: 50px 30px 0 30px;
}
.hero-col{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 30px;
}
.hero-col > *{
    padding: 0 10px;
}
.col-30 p{
    padding-bottom: 30px;
}
.col-30 button{
    margin-bottom: 30px;
} 
.col-30 i{
    font-size: 40px;
}
.hero-col .col-70 img{
    max-width: 750px;
}

.hero-col{
    position: relative;
    bottom: -60px;
}

/*MAIN*/
.section-1{
    max-width: 1000px;
    padding-top: 100px;
    margin: 0 auto;
}
.section-1 h2{
    padding-bottom: 50px;
    font-size: 30px;
}
.btn-main button{
    margin: 0 30px 50px 0;
}

.section-options{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.col-33 .title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(208, 207, 207);
    padding: 12px 0;
}

.col-100{
    margin-top: 30px;
}
.col-100-info{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.col-100 .title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(208, 207, 207);
    padding: 12px 0;
}
.col-100-info p{
    padding-top: 15px;
}
#p-info{
    padding-top: 60px;
}

.section-2{
    max-width: 1000px;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
}
.section-2 img{
    width: 100%;
}
.col-40 h2{
    padding-bottom: 12px;
}
.col-40 p{
    padding-bottom: 30px;
}

.section-3{
    max-width: 1000px;
    padding-top: 100px;
    margin: 0 auto;
}
.section-3 h2{
    font-size: 30px;
    padding-bottom: 50px;
}
.row {
    display: flex;
    gap: 6px;
    padding-bottom: 40px;
}

.row > * {
    padding: 0 10px;
}
.card {
    position: relative;
}
.card img {
    width: 100%;
}
.col-33-2 h3{
    padding-bottom: 30px;
}
.info{
    padding-right: 20px;
}

.section-4{
    max-width: 1000px;
    padding-top: 100px;
    margin: 0 auto
}
.section-4 h2{
    font-size: 30px;
    padding-bottom: 50px;
}

.section-5{
    padding-top: 120px;
    margin: 0 auto;
}
.Designit{
    background-color: blueviolet;
    min-height: 500px;
    border: 3px dashed black;
}

.bg-section-6{
    background-color: rgb(184, 216, 249);;
}
.section-6{
    max-width: 1000px;
    padding: 100px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.section-6 h2{
    font-size: 30px;
}