/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    font-family: 'Open Sans';
}

/*BUTTONS*/
.btn-blue{
    padding: 8px 14px;
    background-color: rgb(45, 131, 243);
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn-white{
    padding: 8px 14px;
    background-color: #fff;
    cursor: pointer;
}
.btn-white-n{
    padding: 8px 18px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

/*COLUMNS*/
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}

/*HEADER*/
.header-container{
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
}
.logo-header{
    height: 20px;
}
li{
    display: inline-block;
    padding: 0 20px;
}

/*HERO*/
.hero-container{
    background-color: rgb(184, 216, 249);
}
.hero-section{
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.hero-section h1{
    font-size: 45px;
    font-weight: 800;
    padding: 50px 30px 0 30px;
}
.hero-col{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 30px;
}
.hero-col > *{
    padding: 0 10px;
}
.col-30 p{
    padding-bottom: 30px;
}
.col-30 button{
    margin-bottom: 30px;
} 
.col-30 i{
    font-size: 40px;
}
.col-70 img{
    max-width: 750px;
}

.hero-col{
    position: relative;
    bottom: -60px;
}

/*MAIN*/
